<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Tipo de Medio</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body>
    <h1>Editar Tipo de Medio</h1>
    
    <section class="mensaje">
        {{#if mensaje}}
            <div class="mensaje_error">
                <p>{{mensaje}}</p>
            </div>
        {{/if}}
    </section>
    
    <section  class="form_crear">
        <form action="/admin/TipoMedio/update/{{tipoMedio.id}}" method="POST">
            <fieldset>
                <legend>Tipo de Medio</legend>
                <label for="tipo">Tipo:</label>
                <input type="text" id="tipo" name="tipo" value="{{tipoMedio.tipo}}" required>
                
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" required>{{tipoMedio.descripcion}}</textarea>
                
                <label for="esta_borrado">Estado:</label>
                <select id="esta_borrado" name="esta_borrado">
                    <option value="0" {{#eq tipoMedio.esta_borrado 0}}selected{{/eq}}>Activo</option>
                    <option value="1" {{#eq tipoMedio.esta_borrado 1}}selected{{/eq}}>Inactivo</option>
                </select>
            </fieldset>
            <input type="submit" value="Actualizar">
        </form>
    </section>
    
    <a class="volver" href="/admin/TipoMedio/listar">Volver</a>
</body>
</html>
