<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Authentication</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body class="admin-auth">
    {{#if error}}
        <div class="error-message">{{error}}</div>
    {{/if}}
    <form method="post" action="/auth/admin-authenticate">
        <label for="admin-usuario">Usuario</label>
        <input type="text" id="admin-usuario" name="usuario" placeholder="Ingrese su usuario de administrador" required>
        <label for="admin-password">Contraseña</label>
        <input type="password" id="admin-password" name="password" placeholder="Ingrese su contraseña de administrador" required>
        <input type="submit" value="Autenticar"> 
    </form>
    <div class="links-login">
        <a class="volver-login-admin" href="/auth/login">Volver</a>
    </div>
</body>
</html>
