<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/style.css">
</head>
<body class="login">
    {{#if error}}
        <div class="error-message">{{error}}</div>
    {{/if}}
    {{#if success}}
        <div class="success-message">{{success}}</div>
    {{/if}}
    <form method="post" action="/login">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario" placeholder="Ingrese su usuario" required>
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
        <input type="submit" value="Ingresar"> 
    </form>
    <div class="links-login">
        <a class="volver-login" href="/">Volver</a>
        <a class="registrarse-login" href="/auth/register">Registrarse</a>
    </div>
</body>
</html>
